$white: #ffffff;
$bg-grey: #f8f8f8;
$bg-grey-gradient: #f8f8f800;
$border: #eaeaea;
$border-header: #d9fff5;
$btn-pink: #ff3e79;
$bg-opacity: #fffffff2;
$active-grey: #7e7e82;
$menu-active: #b8ffec;
$default-black: #000000;
$box-shadow: #0e185033;
$main-title-line: #41f6d7;
$placeholder-color: #b5b6bc;
